body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.components > div{
  border: 2px dashed black;
  padding: 8px;
  margin: 8px;
}

.drawing{
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}