body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#root{
  max-width: 1280px;
  margin: auto;
}

.components > div{
  border: 2px dashed black;
  padding: 8px;
  margin: 8px;
}

.drawing{
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}


.form *{
  display: block;
  margin: 2px;
}

.error{
  color: red;
  font-size: 14px;
}